/* Header part start from Here */

*{
    margin:opx;
    padding:0px;
    box-sizing: border-box;
}
.header{
    background-image: url("images/banner/banner2.png");
    width:100%;
    height:809px;
  
}

.header-card{
    height:600px;
    width:558px;
    margin-left:800px;
    margin-top:200px;
    display: inline-block;
}

.header-card p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    text-align: right;
    color: #444343;
}

.header-heading{
    font-family: Work Sans;
    font-size: 65px;
    font-weight: 700;
    line-height: 76px;
    letter-spacing: 0em;
    text-align: right;
    
}

#header-btn{
    position: absolute;
    width: 160px;
    height: 64px;
    left: 1210px;
    top: 578px;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    color: #FFFFFF;
    background-color: #F15B22;
    border: none;
    border-radius: 8px;
    margin-top: 40px;
}


/* First section part start from Here */


.section{
    width:1072px;
    height:722px;
    display: flex;
    margin-left:200px;
    margin-right:230px;
    margin-top: 40px;
}

.section-heading{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.section-img{
   margin-left:5px;
   height:640px;
   width:550px;

}

.section-content{
    height: 400px;
    width: 416px;
    margin-left:87px;
    margin-top:120px;
    
}

.section-content p{  
     font-family: 'Work Sans';
     font-style: normal;
     font-weight: 400;
     font-size: 16px;
     line-height: 26px;
}

/* second section start from here */


.second-section{
    margin-left: 150px;
    margin-right: 229px;
    height:230px;
    width:1140px;
}
.second{
    text-align: center;
}

.section-card{
    display: flex;
   
}
.sectiondata{
    margin-left:110px;
}

.section-heading .second{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.sectiondata img{
    margin-left:10px;
}

.sectiondata h1{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    margin-left:4px;
    /* font-size: 30px; */
    /* line-height: 35px; */
}

.sectiondata h3{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 500;
    font-size: 25px;
    line-height: 29px;
    text-align: center;

/* Dark 03 */

color: #737272;
}



/* third section start from Here */

.third-section{
    height:280px;
    width:1060px;
    margin-left: 220px;
    margin-right: 210px;
    margin-top:130px;
    margin-bottom:130px;
    display:flex;
    background-image: radial-gradient(
              rgba(216, 60, 8, 0.756),
              rgba(255, 221, 0, 0.589)), url(
'images/watch.png');
           
    
}

#third-card{
    width: 460px;
    height:182px;
    margin-top:30px;
    margin-left:64px;
    display: inline-block;

}

.text-color{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
    color: #FFFFFF;
}

#third-btn{
    width: 160px;
    height: 64px;
    left: 294px;
    top: 2399.26px;
    background: #FFFFFF;
    border-radius: 5px;
}

.third-section input[type="button"]{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 20px;
    line-height: 23px;
    text-align: center;
    color: #F15B22;
}


/* card section start from here */


.top-card-heading{
    margin-top: 100px;

}
.top-card-heading h1{
    text-align: center;
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 700;
    font-size: 40px;
    line-height: 47px;
}

.card-section{
    display:flex;
    justify-content:space-evenly;
    margin-top:80px;
    /* margin-left: 220px;
    margin-right: 210px; */

}

.card-design{
    background-color: rgb(247, 238, 217);
    height:340px;
    width:300px;
    margin-left:45px;
    border-radius: 16px;
}

.card-design p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
    color: #444343;
}

.card-design img{
    margin-left:120px;
    margin-top: 10px;
}

.center{
    text-align: center;
}

.button{
    display: inline-block;
    margin-left: 80px;
    background-color: #f15b22;
    border: none;
    color: white;
    padding: 15px 32px;
}


/* footer section start from here */

footer{
    width:100%;
    height:577px;
    background-color:#151414;
    margin-top:40px;
    display: flex;
}

.footer-card{
    display: flex;
    margin-top: 130px;
}

.footer-info{
  color: #FFFFFF;
  margin-top: 130px;
  margin-bottom: 130px;
  margin-left: 230px;
  width:485px;
  height:317px;
}
.footer-info p{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 16px;
    line-height: 26px;
}

.subscribe-form{
    width:325px;
    height:204px;
    margin-top:130px;
    display:inline-block;
    margin-left:229px;
    margin-bottom: 243px;
    position:relative;
    color: #FFFFFF;
}

.subscribe{
    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 600;
    font-size: 25px;
    line-height: 29px;
}
#subscribe-mail{
    width: 325px;
    height: 64px;
    left: 1046px;
    top: 2836.3px;

    font-family: 'Work Sans';
    font-style: normal;
    font-weight: 400;
    font-size: 18px;
    line-height: 21px;
}

input[type="text"]{
    background-color: rgb(6, 6, 6);
    /* padding: 10px 15px;
    border-radius: 3px; */
    border:1 px solid #ffffff;
    border-top: 1px solid #ffffff;
    border-left: 1px solid #ffffff;
    border-right: 1px solid #ffffff;
    outline: none;
    color:#ffffff;
}
::placeholder{
    color:#ffffff;
    padding-left:15px;
}


#subscribe-btn{
    
width: 150px;
height: 64px;
left: 1046px;
top: 2916.3px;
border-radius:10px;
color:#F15B22;
margin-top:8px;
font-family: 'Inter';
font-style: normal;
font-weight: 600;
font-size: 20px;
line-height: 24px;
}
.policy{
    text-align: center;
}
.policy p{
  color:#0a0a0a;
}